{% extends 'demo/page_shell.html' %}

{% block page_title %}发帖{% endblock %}
{% block page_id %}post_create{% endblock %}
{% block bd %}
<form action="" method="post">
  <textarea></textarea>
</form>
<div id="addrbar">
  <span class="stat"></span>
  <span class="addr"></span>
  <a class="teleport" href="javascript:void(0)">[传送门]</a>
</div>
<!-- <div id="addr">科华北路25号&nbsp;<a href="javascript:void(0)">[修改]</a></div> -->
<script>
(function($){
    var j_addrbar = $('#addrbar'),
        j_stat = j_addrbar.find('.stat'),
        j_addr = j_addrbar.find('.addr'),
        j_teleport = j_addrbar.find('.teleport'),
        
        NO_GEO_MSG = '该设备不支持定位 /. .\\',
        
        LOCATING_MSG = '正在获取经纬度...',
        FAILED_LOCATION_MSG = '获取位置失败 /. .\\',
        ADDRESSING_MSG = '正在获取地址...',
        FAILED_ADDRESSING_MSG = '获取地址失败 /. .\\',
        
        lat = false
        lng = false;
        
    function update_addr(addr){
        j_stat.removeClass('addressing').addClass('done').empty();
        j_addr.text(addr);
    }        
        
    if(navigator.geolocation) {
        j_stat.addClass('locating').text(LOCATING_MSG);
      
        navigator.geolocation.getCurrentPosition(function(position) { 
            j_stat.removeClass('locating').addClass('addressing').
                text(ADDRESSING_MSG);
            
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            
            if(position.address){
                var addr = ''
                if(position.address.street){
                    addr += position.address.street
                }
                if(position.address.streetNumber){
                    addr += ' ' + position.address.streetNumber
                }
              
                update_addr(addr)
            } else {
                $.ajax('/utils/latlng2addr', {
                    data: {
                        'lat': lat,
                        'lng': lng
                    },
                    success: function(data){
                        update_addr(data)
                    },
                    error: function(){
                        j_stat.removeClass('addressing').addClass('failed').
                            text(FAILED_ADDRESSING_MSG);
                    },
                    dataType: 'text'});
            }
        }, function() {
            j_stat.removeClass('locating').addClass('failed').
                text(FAILED_LOCATION_MSG);
        });
    } else {
        j_stat.addClass('failed').text(NO_GEO_MSG);
    }
})(jQuery);
</script>
{% endblock %}