{% extends 'demo/base.html' %}

{% block title %}Feed{% endblock %}
{% block page_title %}Feed{% endblock %}
{% block page_id %}post_list_{{ params.sorter }}{% endblock %}

{% block bd %}
<div id="addrbar">
  <span class="stat"></span>
  <span class="addr">{{ params.addr }}</span>
  <span class="lat">{{ params.lat }}</span>
  <span class="lng">{{ params.lng }}</span>
</div>

<div id="stream" class="{{ params.sorter }}" sorter="{{ params.sorter }}"/>

<script>
(function($){
    s.init_addrbar({'callback': s.stream.init});
})(jQuery);
</script>
{% endblock %}