{% extends 'webapp/base.html' %}

{% block logo %}<h1>Stargazer</h1>{% endblock %}
{% block page_class %}dashboard{% endblock %}

{% block bd %}
<div class="ui-grid-a">
    <a class="ui-block-a nearby loclink" rel="section" href="/w/posts/nearby/recent/">
        <dl>
            <dt>Nearby</dt>
            <dd>See tweeets nearby</dd>
        </dl>
    </a>
    
    <a class="ui-block-b" rel="section" href="/w/teleport/?to=/w/posts/nearby/recent/">
        <dl>
            <dt>Teleport</dt>
            <dd>To anywhere on the earth</dd>
        </dl>
    </a>
    
    <a class="ui-block-a login_required" data-ajax="false" rel="section" href="/w/me/">
        <dl>
            <dt>Me</dt>
            {% if request.user.is_authenticated %}
            <dd>User tweets</dd>
            {% else %}
            <dd>Signin / Signup to tweet and like/ban tweets</dd>
            {% endif %}
        </dl>
    </a>
</div>
{% endblock %}