{% extends 'webapp/base.html' %}

{% block logo %}<h1>Stargazer</h1>{% endblock %}
{% block page_class %}index{% endblock %}

{% block bd %}
<div class="ui-grid-a">
    <a class="ui-block-a nearby loclink" rel="section" href="/w/posts/nearby/recent/">
        <figure>
            <img src="{{ STATIC_URL }}demo/i/ex/icon-globe-64.jpg" alt="Nearby" />
            <figcaption><span class="label">Nearby</span></figcaption>
        </figure>
    </a>
    
    <a class="ui-block-b" rel="section" href="/w/teleport/?to=/w/posts/nearby/recent/">
        <figure>
            <img src="{{ STATIC_URL }}demo/i/ex/icon-globe-64.jpg" alt="Teleport" />
            <figcaption><span class="label">Teleport</span></figcaption>
        </figure>
    </a>
    
    <a class="ui-block-a" rel="section" href="/w/me/">
        <figure>
            <img src="{{ STATIC_URL }}demo/i/ex/icon-globe-64.jpg" alt="Me" />
            <figcaption><span class="label">Me</span></figcaption>
        </figure>
    </a>
</div>
<script>
(function($){
    pyrcp.j_doc.one('pagecreate', function(){
        if('pg-index' === sgz.entry_page){
            pyrcp.j_doc.one(sgz.geo.E_LATLNG_DONE, function(evt, lat, lng, addr){
                $.mobile.changePage($('.nearby[rel=section]').attr('href'));
            });
        }
        
        sgz.geo.start();
    });
})(jQuery);
</script>
{% endblock %}