{% extends 'webapp/base.html' %}

{% block title %}Feed{% endblock %}
{% block page_title %}Feed{% endblock %}
{% block page_class %}post_list{% endblock %}

{% block bd %}
<div class="locbar">
    <span class="stat"></span>
    <span class="addr"></span>
    <span class="lat"></span>
    <span class="lng"></span>
    <a class="refresh" href="#">[Refresh]</a>
</div>

<div id="stream_to_init" class="stream {{ params.type }}"></div>
    {% if params.lat and params.lng %}
<script>
(function($){
    var lat = parseFloat('{{ params.lat }}'),
        lng = parseFloat('{{ params.lng }}'),
        j_stream = $('#stream_to_init').removeAttr('id');
        
    $('.pg-post_list[data-role=page]').one('pagecreate', function(evt){
        sgz.stream.init(j_stream, {
            'lat': lat, 
            'lng': lng,
            'type': '{{ params.type }}'
        });
    });
    
    if(false === sgz.geo.initialized){
        sgz.geo.lat = lat;
        sgz.geo.lng = lng;
    }
    sgz.geo.start();
})(jQuery);
</script>
    {% else %}
<script>
(function($){
    var j_stream = $('#stream_to_init').removeAttr('id');
    
    pyrcp.j_doc.bind(sgz.geo.E_LATLNG_DONE, function(evt, lat, lng, addr){
        sgz.stream.init(j_stream, {
            'lat': lat, 
            'lng': lng,
            'type': '{{ params.type }}'
        });
    });
    
    sgz.geo.start();
})(jQuery);
</script>
    {% endif %}
{% endblock %}