{% extends 'webapp/base.html' %}

{% block title %}Post{% endblock %}
{% block page_title %}Post{% endblock %}
{% block page_class %}post_create{% endblock %}
{% block hd_buttons %}
<form id="shadow_post_form_to_init" action="/api/posts/create.json" data-ajax="false" method="POST"
    class="hidden_post_form locform{% if not form.is_bound %} new{% endif %}">
    <input type="hidden" name="content" />
    <input type="hidden" name="latitude" />
    <input type="hidden" name="longitude" />
    <input type="hidden" name="address" />
    <input type="hidden" name="return" value="/w/posts/" />
    <input type="submit" disabled="disabled" value="Post" data-icon="check" data-theme="b" />
</form>
{% endblock %}

{% block bd %}
<form id="post_form_to_init" action="/api/posts/create/" method="POST" class="shown_post_form">
    <textarea name="content" placeholder="What's on your mind?"></textarea>
</form>
<div class="locbar">
    <span class="stat"></span>
    <span class="addr"></span>
    <span class="lat"></span>
    <span class="lng"></span>
    <a class="teleport" href="/w/teleport/?to={{ request.get_full_path }}">[Teleport]</a>
</div>
<script>
(function($){
    sgz.forms.init_post_form($('#post_form_to_init').removeAttr('id'),
                             $('#shadow_post_form_to_init').removeAttr('id'));
})(jQuery);    
</script>
{% endblock %}

