{% extends 'webapp/base.html' %}
{% load url from future %}

{% block title %}Signin{% endblock %}
{% block page_title %}Signin{% endblock %}
{% block page_class %}signin{% endblock %}
{% block hd_buttons %}
<a class="ui-btn-right" data-theme="b" data-icon="arrow-r" data-iconpos="right" 
    tabindex="2" href="/w/signup/?next={{ request.GET.next }}">Signup</a>
{% endblock %}

{% block bd %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="form_to_init" class="signinform" method="post" data-ajax="false" action="/api/accounts/signin.json">
    <div class="row">
        <input type="text" name="username" placeholder="username" required="required" />
    </div>
    
    <div class="row">
        <input type="password" name="password" placeholder="password" required="required" />
    </div>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    <button type="submit" data-theme="a" data-icon="check">Signin</button>
</form>

<div class="hsp">Don't have an account? <a href="/w/signup?next={{ request.GET.next }}">Signup</a></div>
<script>
(function($){
    var j_form = $('#form_to_init').removeAttr('id');
        
    sgz.forms.init(j_form);
    j_form.submit(sgz.forms.custom_submit);
})(jQuery);
</script>
{% endblock %}