{% extends 'webapp/base.html' %}

{% block title %}Teleport{% endblock %}
{% block page_title %}Teleport{% endblock %}
{% block page_class %}teleport{% endblock %}
{% block hd_buttons %}
<a class="ui-btn-right loclink" data-theme="b" data-iconpos="right" data-icon="arrow-r" href="{{ request.GET.to }}">Teleport</a>
{% endblock %}

{% block bd %}
<div id="map_to_init">
    <div class="locbar">
        <span class="stat"></span>
        <span class="addr"></span>
        <span class="lat"></span>
        <span class="lng"></span>
    </div>
    <div class="map_container">
        <div class="map"></div>
        <div class="overlay"></div>
    </div>
</div>
<script>
(function($){
    sgz.map.init($('#map_to_init').removeAttr('id'));
})(jQuery);
</script>
{% endblock %}