<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,
                                 user-scalable=no" />
  <meta name="language" content="zh_cn" />
  <title>500</title>

  <link rel="stylesheet" type="text/css" href="/c/reset.css" />
  <link rel="stylesheet" type="text/css" href="/c/common.css" />
  <script type="text/javascript" src="/s/jquery.min.js"></script>
  <script type="text/javascript" src="/s/common.js"></script>
</head>

<body>
  <div id="500" class="page">
    <div id="hd" class="layout">
      <a class="logo" href="/">LOGO</a>
    </div>
    <div id="bd" class="layout">500</div>
  </div>
</body>
</html>