@CHARSET "UTF-8";

.page {width:100%; width:320px}

#hd.layout {height:28px; line-height:28px; font-size:16px; background:#eee}
  #hd a {text-decoration:none; padding:0 10px}
  #hd .post, 
  #hd .submit {float:right}

.sorter {position:relative; text-align:center}  
  .sorter .l {position:absolute; left:0}
  .sorter .r {position:absolute; right:0}  
  
.stream .li {position:relative; border-top:1px solid #eee; padding:0 0 10px 55px}
  .stream .li .avatar {position:absolute; top:0; left:0}
  
  .stream .li .username {margin-bottom:5px; height:30px; line-height:30px; font-weight:bold}
    
  .stream .li .like,
  .stream .li .hate {display:block; float:right; padding:0 10px 0 33px; 
    height:28px; line-height:28px; text-align:right; color:#666;
    text-decoration:none; background:#eee; background-position:8px center; 
    background-repeat:no-repeat}
  .stream .li .like {background-image:url(/s/i/heart-unselected-16.png)}
    .stream .li.on .like {background-image:url(/s/i/heart-selected-16.png); 
      background-color:#ddd}
  .stream .li .hate {background-image:url(/s/i/del-16.png); border-left:1px dashed #ccc}
  
  .stream .li .content, 
  .stream .li .addr,
  .stream .li .meta {margin:3px 10px 0 0 }
  
  .stream .li .addr {color:#666}
  .stream .li .meta {color:#999}
  
  .stream .li .soundplayer {float:left; padding:0 12px 0 40px; height:32px; 
    line-height:32px; color:#333;
    background:#eee url(/s/i/sound.png) no-repeat 8px center}
    .stream .li .soundplayer .play {margin-left:5px; color:#333; text-decoration:none}
    
/*
 * page specifics
 * ----------------
 */
#index.page #bd .li {display:block; float:left; margin:30px 0 0 40px; 
  width:100px; text-align:center; text-decoration:none}
#index.page #bd .li .label {display:block}